/**
 * SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
/**
 * SPDX-FileCopyrightText: 2021 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
/*
* Ensure proper alignment of the vue material icons
*/
.material-design-icon[data-v-9cedb949] {
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
}
.settings-section[data-v-9cedb949] {
  display: block;
  padding: 0 0 calc(var(--default-grid-baseline) * 5) 0;
  margin: calc(var(--default-grid-baseline) * 7);
  width: min(900px, 100% - var(--default-grid-baseline) * 7 * 2);
}
.settings-section[data-v-9cedb949]:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}
.settings-section__name[data-v-9cedb949] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin-top: 0;
}
.settings-section__info[data-v-9cedb949] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--default-clickable-area);
  height: var(--default-clickable-area);
  margin: calc((var(--default-clickable-area) - 16px) / 2 * -1);
  margin-inline-start: 0;
  color: var(--color-text-maxcontrast);
}
.settings-section__info[data-v-9cedb949]:hover, .settings-section__info[data-v-9cedb949]:focus, .settings-section__info[data-v-9cedb949]:active {
  color: var(--color-main-text);
}
.settings-section__desc[data-v-9cedb949] {
  margin-top: -0.2em;
  margin-bottom: 1em;
  color: var(--color-text-maxcontrast);
  max-width: 900px;
}.settings__field[data-v-e84629db] {
  max-width: 500px;
  margin-top: calc(3 * var(--default-grid-baseline)) !important;
}
.settings__placeholder[data-v-e84629db] {
  height: calc(var(--default-clickable-area) + 3 * var(--default-grid-baseline));
}