/**
 * SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
/**
 * SPDX-FileCopyrightText: 2021 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
/*
* Ensure proper alignment of the vue material icons
*/
.material-design-icon[data-v-56b92b56] {
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
}
.settings-section[data-v-56b92b56] {
  display: block;
  margin-bottom: auto;
  padding: 30px;
}
.settings-section[data-v-56b92b56]:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}
.settings-section--limit-width > *[data-v-56b92b56] {
  max-width: 900px;
}
.settings-section__name[data-v-56b92b56] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  max-width: 900px;
  margin-top: 0;
}
.settings-section__info[data-v-56b92b56] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--default-clickable-area);
  height: var(--default-clickable-area);
  margin: calc((var(--default-clickable-area) - 16px) / 2 * -1);
  margin-inline-start: 0;
  color: var(--color-text-maxcontrast);
}
.settings-section__info[data-v-56b92b56]:hover, .settings-section__info[data-v-56b92b56]:focus, .settings-section__info[data-v-56b92b56]:active {
  color: var(--color-main-text);
}
.settings-section__desc[data-v-56b92b56] {
  margin-top: -0.2em;
  margin-bottom: 1em;
  color: var(--color-text-maxcontrast);
  max-width: 900px;
}.settings__field[data-v-09e14322] {
  max-width: 500px;
  margin-top: calc(3 * var(--default-grid-baseline)) !important;
}
.settings__placeholder[data-v-09e14322] {
  height: calc(var(--default-clickable-area) + 3 * var(--default-grid-baseline));
}